<!doctype html>
<html>
  <head>
    <title>Beautiful Markdown</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <link rel="icon shortcut" type="image/png" sizes="36x36" href="icon-36.png">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
    <link href="beautiful-markdown.min.css" rel="stylesheet">
  </head>

  <body>
  {{content|safe}}
  </body>

</html>